.checkOutWrapper {
  background-color: var(--background);
  padding: 3vh 13.5vw;
  min-height: 90vh;
}

.title {
  font-size: 38px;
  color: var(--textHover);
  padding: 1vh 0;
  border-bottom: 1px solid #2d2d2d;
}

.contentWrapper {
  display: flex;
  padding-top: 4vh;
  justify-content: space-between;
}

.leftBlock {
  width: 40%;
  padding: 2vh 1vw;
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  align-items: center;
}

.rightBlock {
  border-radius: 28px;
  width: 55%;
  padding: 2vh 1vw;
  background-color: var(--background2);
  height: 100%;
}

.productsBlock {
  padding-right: 1vw;
  overflow: auto;
  max-height: 50vh;
}

.productBlock {
  border-bottom: 3px solid #2d2d2d;
}

.article {
  font-size: 24px;
  color: var(--textHover);
  text-align: center;
  padding: 1vh 0;
  border-bottom: 3px solid #2d2d2d;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
}

.product span {
  color: var(--text);
  width: 60%;
  font-size: 20px;
}

.productImage {
  width: 15%;
}

.productPrice {
  width: 25%;
  text-align: right;
}

.productUah {
  color: var(--textHover);
  font-size: 20px;
}

.productUah span {
  color: var(--text);
  font-size: 20px;
}

.productUSDT {
  color: var(--textHover);
  font-size: 14px;
}

.productUSDT span {
  color: var(--text);
  font-size: 14px;
}

.servicesBlock {
  display: flex;
  padding: 0 0 1vh;
  flex-direction: column;
  font-size: 18px;
  color: var(--text);
}

.service {
  display: flex;
  padding: 0.5vh 1vw;
  flex-direction: row;
  justify-content: space-between;
}

.totalPrice {
  border-top: 3px solid #2d2d2d;
  padding: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalTitle {
  font-size: 24px;
  color: var(--textHover);
}

.totalPrice div {
  text-align: right;
}

.totalUah {
  color: var(--textHover);
  font-size: 24px;
}

.totalUah span {
  color: var(--text);
}

.totalUsdt {
  font-size: 16px;
  color: var(--textHover);
}

.totalUsdt span {
  color: var(--text);
}

@media only screen and (max-width: 601px) {
  .checkOutWrapper {
    padding: 2vh 4vw;
  }
  .contentWrapper {
    flex-direction: column;
    gap: 4vh;
  }
  .leftBlock,
  .rightBlock {
    width: 100%;
  }
  .productBlock {
    border-bottom: 1px solid #2d2d2d;
  }
  .title {
    font-size: 24px;
  }
  .article {
    font-size: 18px;
  }
  .productImage {
    width: 10%;
  }
  .productBlock span {
    font-size: 16px;
  }
  .productUah {
    font-size: 16px;
  }
  .productUSDT {
    font-size: 14px;
  }
  .totalTitle {
    font-size: 18px;
  }
  .totalUah,
  .totalUah span {
    font-size: 18px;
  }
  .totalUsdt,
  .totalUsdt span {
    font-size: 14px;
  }
  .service span {
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .checkOutWrapper {
    padding: 2vh 4vw;
  }
  .contentWrapper {
    flex-direction: column;
    gap: 4vh;
  }
  .leftBlock,
  .rightBlock {
    width: 100%;
  }
  .productBlock {
    border-bottom: 1px solid #2d2d2d;
  }
  .title {
    font-size: 24px;
  }
  .article {
    font-size: 18px;
  }
  .productImage {
    width: 10%;
  }
  .productBlock span {
    font-size: 16px;
  }
  .productUah {
    font-size: 16px;
  }
  .productUSDT {
    font-size: 14px;
  }
  .totalTitle {
    font-size: 18px;
  }
  .totalUah,
  .totalUah span {
    font-size: 18px;
  }
  .totalUsdt,
  .totalUsdt span {
    font-size: 14px;
  }
  .service span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkOutWrapper {
    padding: 2vh 4vw;
  }
  .title {
    font-size: 28px;
  }
  .productBlock span {
    font-size: 18px;
  }
  .productUah {
    font-size: 18px;
  }
  .productUSDT,
  .productUSDT span {
    font-size: 14px;
  }
  .service span {
    font-size: 16px;
  }
  .totalTitle {
    font-size: 20px;
  }
  .totalUah,
  .totalUah span {
    font-size: 20px;
  }
  .totalUsdt,
  .totalUsdt span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .checkOutWrapper {
    padding: 3vh 8vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .checkOutWrapper {
    padding: 3vh 13.5vw;
  }
}

@media only screen and (min-width: 1600px) {
  .checkOutWrapper {
    padding: 3vh 13.5vw;
  }
  .service span {
    font-size: 20px;
  }
  .productUah {
    font-size: 24px;
  }
  .productUSDT,
  .productUSDT span {
    font-size: 16px;
  }
  .productBlock span {
    font-size: 18px;
  }
}
